/* Add CSS Styling */
.odd { 
    background-color: pink;
    font-family: Verdana, "DejaVu Sans", "sans-serif"; 
}

.font {
    font-size: 24px;
}

#back {
    background-color: green;
    font-weight: 700;
}

#two {
    color: blue;
    font-size: 36px;
}